@import 'style-variables.scss';

.title {
  font-family: 'Rancho';
  font-size: 150px;
  color: $darkerBlue;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;

  &>svg {
    height: min-content;

    &:nth-child(1) {
      width: clamp(75px, 20%, 125px);
    }

    &:nth-child(2) {
      width: clamp(125px, 30%, 225px);
    }
  }
}