$darkerBlueTransparent: #000e2e96;
$darkerBlue: #000e2e;
$darkBlueAccent: #002477;
$primaryBlue: #0040d2;
$lightBlueAccent: #3fa2ff;
$lightBlue: #dff5ff;
$primaryRed: #ff2970;
$primaryOrange: #ff802b;

$primaryBlack: #111;

$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;